<mat-toolbar color="primary">
  <div>
    <a mat-flat-button color="primary" routerLink="/"><img src='{{"assets/images/UI/bonescosmetics.png"}}'
        width="300px"></a>
  </div>
  <div *ngIf="loggedUser===null">
    <span>
      <a mat-flat-button color="primary" routerLink="/">O nama</a>
    </span>
    <span>
      <a mat-flat-button color="primary" routerLink="products-list">BONES kozmetika</a>
    </span>
    <span>
      <a mat-flat-button color="primary" routerLink="cart">
        <mat-icon [matBadge]="cartCount" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="cartCount===0">
          shopping_cart
        </mat-icon>
      </a>
    </span>
    &nbsp;&nbsp;
    <span>
      <button mat-raised-button (click)="login()">Prijavite se</button>
    </span>
  </div>
  <div *ngIf="loggedUser!==null">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="userMenu">
      {{loggedUser.username}}
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu>
      <button mat-menu-item (click)="logout()">Odjavi se</button>
    </mat-menu>
  </div>
</mat-toolbar>