<!-- <div class="header-content"> -->
<mat-toolbar color="primary" class="navbar">
  <div>
    <a mat-stroked-button routerLink="/">BONES group</a>
  </div>
  <div>
    <span>
      <a mat-stroked-button routerLink="/">O nama</a>
    </span>
    <span>
      <a mat-stroked-button routerLink="product-list">BONES kozmetika</a>
    </span>
    <span>
      <a mat-flat-button color="primary" routerLink="cart">
        <mat-icon [matBadge]="cart_count" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="cart_count===0">
          shopping_cart
        </mat-icon>
      </a>
    </span>
    <span>
      <button mat-raised-button (click)="login()">Prijavite se</button>
    </span>
  </div>
</mat-toolbar>