<!-- <div class="header-content"> -->
<div class="navbar">
  <div>
    <a routerLink="/">BONES group</a>
  </div>
  <div>
    <span>
      <a routerLink="/">O nama</a>
    </span>
    <span>
      <a routerLink="product-list">BONES kozmetika</a>
    </span>
    <span>
      <a routerLink="cart">
        <mat-icon [matBadge]="cart_count" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="cart_count===0">
          shopping_cart
        </mat-icon>
      </a>
    </span>
    <span>
      <button mat-raised-button (click)="login()">Prijavite se</button>
    </span>
  </div>
</div>