<mat-horizontal-stepper linear>
    <mat-step label="Prijava" [editable]="false" [completed]="step1">
        <div *ngIf="customer==null">
            <h1>Prijavite se ako ste registrovani kupac:</h1>
            <table>
                <tr>
                    <td width="200px">PIB:</td>
                    <td>
                        <input type="text" name="pib1" [(ngModel)]="pib1">
                    </td>
                </tr>
                <tr>
                    <td>Jedinstvena lozinka:</td>
                    <td>
                        <input type="password" name="secretCode" [(ngModel)]="secretCode">
                    </td>
                </tr>
                <tr>
                    <td [colSpan]="2">
                        <br>
                        <button mat-raised-button color="primary" (click)="signin()">Prijavite se</button>
                    </td>
                </tr>
                <tr>
                    <td [colSpan]="2">
                        {{message}}
                    </td>
                </tr>
            </table>
            <br>
            <hr>
            <br>
            <h1>Registrujte se ako niste registrovani kupac:</h1>
            <table>
                <tr>
                    <td width="200px">Poslovni naziv:</td>
                    <td>
                        <input type="text" name="name" [(ngModel)]="name">
                    </td>
                </tr>
                <tr>
                    <td>PIB:</td>
                    <td>
                        <input type="text" name="pib2" [(ngModel)]="pib2">
                    </td>
                </tr>
                <tr>
                    <td>E-mejl:</td>
                    <td>
                        <input type="text" name="email" [(ngModel)]="email">
                    </td>
                </tr>
                <tr>
                    <td>Telefon:</td>
                    <td>
                        <input type="text" name="phone" [(ngModel)]="phone">
                    </td>
                </tr>
                <tr>
                    <td>Adresa:</td>
                    <td>
                        <input type="text" name="address" [(ngModel)]="address">
                    </td>
                </tr>
                <tr>
                    <td>Zemlja:</td>
                    <td>
                        <input type="text" name="country" [(ngModel)]="country">
                    </td>
                </tr>
                <tr>
                    <td>Grad:</td>
                    <td>
                        <input type="text" name="city" [(ngModel)]="city">
                    </td>
                </tr>
                <tr>
                    <td>Poštanski broj:</td>
                    <td>
                        <input type="text" name="postcode" [(ngModel)]="postcode">
                    </td>
                </tr>
                <tr>
                    <td [colSpan]="2">
                        <br>
                        <button mat-raised-button color="primary" (click)="signup()">Registrujte se</button>
                    </td>
                </tr>
                <tr>
                    <td [colSpan]="2">
                        {{message}}
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="customer!=null">
            <h1>Uspesno ste se prijavili!</h1>
            <br>
            <button mat-raised-button color="primary" matStepperNext>Adresa za dostavu ></button>
        </div>
    </mat-step>
    <mat-step label="Dostava">
        <ng-template matStepContent>
            <h1>Adresa za dostavu:</h1>
            <div class="delivery-addresses">
                <mat-radio-group [(ngModel)]="selectedAddress">
                    <mat-radio-button *ngFor='let addr of customer.addresses' [value]='addr.id'>
                        {{addr.address}}
                        <br>
                        {{addr.zipCode}}
                        {{addr.city}}
                        <br>
                        {{addr.country}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <button mat-raised-button color="primary" matStepperNext>Pregled narudžbine ></button>
        </ng-template>
    </mat-step>
    <mat-step label="Pregled narudžbine">
        <h1>Informacije o narudžbini:</h1>
        <ng-template matStepContent>
            <br>
            <h2>Adresa za dostavu:</h2>
            <div *ngFor='let addr of customer.addresses'>
                <span *ngIf='addr.id===selectedAddress'>
                    {{addr.address}}, {{addr.zipCode}} {{addr.city}}, {{addr.country}}
                </span>
            </div>
            <br>
            <h2>Vaša porudžbina:</h2>
            <table class="order">
                <tr align="left">
                    <th>Količina</th>
                    <th>Slika</th>
                    <th>Naziv</th>
                    <th>Pakovanje</th>
                    <th>Cena artikla</th>
                    <th>Zbirna cena</th>
                    <th>Rabat</th>
                    <th>Popust</th>
                    <th>Ukupno bez PDV</th>
                    <th>PDV</th>
                    <th>Ukupno</th>
                </tr>
                <tr *ngFor="let product of productsForOrder">
                    <td>{{product.quantity}}x</td>
                    <td>
                        <img src='{{"assets/images/products/"+product.imgUrl}}' width="100px">
                    </td>
                    <td>{{product.name}}</td>
                    <td>{{product.size}}</td>
                    <td>{{product.price | number : '1.2-2'}} RSD</td>
                    <td>{{product.baseSum | number : '1.2-2'}} RSD</td>
                    <td>-{{product.permanentDiscount | number : '1.2-2'}} RSD</td>
                    <td>-{{product.productDiscount | number : '1.2-2'}} RSD</td>
                    <td>{{product.totalWithoutPdv | number : '1.2-2'}} RSD</td>
                    <td>{{product.pdvAmount | number : '1.2-2'}} RSD</td>
                    <td>{{product.totalPrice | number : '1.2-2'}} RSD</td>
                </tr>
                <tr align="center">
                    <td [colSpan]="11">
                        <hr>
                    </td>
                </tr>
                <tr align="right">
                    <td [colSpan]="11">
                        Ukupan iznos bez PDV: {{baseAmount | number : '1.2-2'}} RSD
                    </td>
                </tr>
                <tr align="right">
                    <td [colSpan]="11">
                        PDV : {{pdvAmount | number : '1.2-2'}} RSD
                    </td>
                </tr>
                <tr align="right">
                    <td [colSpan]="11">
                        Ukupno sa PDV : {{totalAmountWithPdv | number : '1.2-2'}} RSD
                    </td>
                </tr>
                <tr align="right">
                    <td [colSpan]="11">
                        Dostava: {{shippingAmountWithPdv | number : '1.2-2'}} RSD
                    </td>
                </tr>
                <tr align="right">
                    <td [colSpan]="11">
                        <b>Ukupno za plaćanje: {{totalPrice | number : '1.2-2'}} RSD </b>
                    </td>
                </tr>
            </table>
            <br>
            <button mat-raised-button color="primary" (click)="confirmOrder()">Potvrdi narudžbinu</button>
        </ng-template>
    </mat-step>
</mat-horizontal-stepper>