<mat-drawer-container>
    <mat-drawer mode="side" opened fxFlex style="position: fixed;">
        <mat-nav-list>
            <a mat-list-item [matMenuTriggerFor]='usersMenu' *ngIf="loggedUser.permissions.users">Zaposleni</a>
            <mat-divider></mat-divider>
            <a mat-list-item [matMenuTriggerFor]='customersMenu' *ngIf="loggedUser.permissions.customers">Kupci</a>
            <mat-divider></mat-divider>
            <a mat-list-item [matMenuTriggerFor]='ordersMenu' *ngIf="loggedUser.permissions.orders">Narudžbine</a>
            <mat-divider></mat-divider>
            <a mat-list-item [matMenuTriggerFor]='productsMenu' *ngIf="loggedUser.permissions.products">Proizvodi</a>
        </mat-nav-list>
        <mat-menu #usersMenu>
            <mat-nav-list>
                <a mat-list-item routerLink="all-users">Svi zaposleni</a>
                <a mat-list-item routerLink="create-user">Dodajte novog zaposlenog</a>
            </mat-nav-list>
        </mat-menu>
        <mat-menu #customersMenu>
            <mat-nav-list>
                <a mat-list-item routerLink="all-customers">Svi kupci</a>
                <a mat-list-item routerLink="create-customer">Dodajte novog kupca</a>
            </mat-nav-list>
        </mat-menu>
        <mat-menu #ordersMenu>
            <mat-nav-list>
                <a mat-list-item routerLink="all-orders">Sve narudžbine</a>
            </mat-nav-list>
        </mat-menu>
        <mat-menu #productsMenu>
            <mat-nav-list>
                <a mat-list-item routerLink="all-products">Svi proizvodi</a>
                <a mat-list-item routerLink="add-products">Ažurirajte listu proizvoda</a>
                <a mat-list-item routerLink="update-stock">Ažurirajte lager</a>
                <a mat-list-item routerLink="add-product-discounts" *ngIf="loggedUser.permissions.admin">Akcijski
                    popusti</a>
            </mat-nav-list>
        </mat-menu>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>