<div class="home">
    <div class="about-card">
        <div class="about-content">
            <h1>O nama</h1>
            <hr>
            <p>
                Društvo sa ograničenom odgovornošću “Bones Group” osnovano je 30. Aprila 1993.
                godine pod imenom “Bones Trade”. Firma se bavila prometom robe na veliko, pretežno
                kozmetičkih proizvoda i sredstava za ličnu higijenu, a od jula 1997. godine i
                proizvodnjom zubnih pasti BONIDENT i BONIDENT FRESH.
            </p>
            <h2>BONES Cosmetics</h2>
            <hr>
            <p>
                Proizvodnja pomenutih proizvoda obavljana je uslužno korišćenjem kapaciteta, najpre preduzeća Dahlia iz
                Zemuna, a potom preduzeća Zdravlje iz Leskovca. 31. maja 1998. godine izvršeno je pripajanje, tada
                Društvenog preduzeća Elektromramor iz Beograda, preduzeću Bones Trade, kada počinju da posluju pod
                zajedničkim imenom Bones Trade u Beogradu, ul. Kumodraška br. 260.
            </p>
            <p>
                Spajanjem sa preduzećem “Elektromramor” iz Beograda, osnovna delatnost postaje proizvodnja i prodaja,
                najpre
                sredstava za ličnu higijenu, a kasnije i drugih kozmetičkih proizvoda čijom se delatnošću organizacija i
                danas bavi.
            </p>
            <p>
                Intenzivnija proizvodnja kozmetičkih proizvoda počinje početkom 1999. godine nabavkom savremene opreme
                iz
                Švajcarske, Italije i Nemačke, čime je zaokružen proizvodni proces. Dana 24. novembra 1999. godine
                “Bones
                Trade” menja naziv u “Bones Cosmetic“, a 24. februara 2000. godine dobija današnji naziv “Bones Group
                d.o.o.”.
            </p>
            <p>
                Dok je u početku imao samo dva zaposlena, “Bones Group” danas je organizacija srednje veličine sa 75
                zaposlenih.
            </p>
            <p>
                Sa svojim inženjersko-tehničkim kadrom uspeli smo da sopstvenom tehnologijom proizvedemo više vrsta
                kozmetičkih prozvoda koji se svrstavaju u sledeće grupe:
            </p>
            <ul>
                <li> PAVLODERM dečja kolekcija</li>
                <li> Proizvodi za oralnu higijenu (paste za zube za decu i odrasle)</li>
            </ul>
        </div>
        <div class="home-content">
            <ul>
                <li> Proizvodi za negu kože</li>
                <li> Proizvodi za negu kose</li>
                <li> Muška kolekcija za negu kože</li>
                <li> Antibakterijski gel, uljani skidač laka za nokte</li>
                <li> Tečni sapuni BELDAM</li>
                <li> Destilovana voda</li>
            </ul>
            <p>
                Najvažnija grupa kozmetičkih proizvoda na koju otpada 70% ukupne proizvodnje i prometa, a koji
                predstavljaju
                zaštitni znak naše organizacije su:
            </p>
            <p>
            <ul>
                <li>Pavloderm dečja kolekcija</li>
                <li> Paste za zube pod brendom BONIDENT i KALLADONT</li>
                <li> Kreme za ruke</li>
            </ul>
            <p>
                Brend PAVLODERM je međunarodno registrovan kod Svetske organizacije za intelektualnu svojinu (WIPO) u
                Ženevi, dok je kompletna dečja kolekcija dermatološki testirana na Univerzitetu Ferara u Italiji.
            </p>
            <p>

            <h2>Sistem kvaliteta</h2>
            <hr>
            <p>
                Očigledan dokaz postavljanja visokih standarda organizacije je implementacija i primena sistema
                menadžmenta
                kvalitetom u skladu sa zahtevima standarda ISO 9001:2008, kao i uvođenje i primena sistema Dobre
                proizvođačke prakse koji je usaglašen sa zahtevima međunarodnog propisa Eudralex Volume IV. EU
                Guidelines to
                Good Manufacturing Practice (GMP).
            </p>
            <p>
                Pored svakodnevnog testiranja finalnog proizvoda u našoj laboratoriji, svi naši proizvodi su testirani u
                nezavisnoj, akreditovanoj, međunarodno priznatoj kontrolnoj organizaciji “Jugoinspekt” u Beogradu.
            </p>
            <p>
        </div>
    </div>
    <hr>
    <div class="contact-card">
        <h1>Kontakt</h1>
        <h2>BONES Group</h2>
        Kumodraška br. 260, 11152 Beograd, Srbija
        <br>
        Tel: +381 (11) 3973-414 Tel: +381 (11) 2493-624
        <br>
        Tel: +381 (11) 2460-195 Fax: +381 (11) 2469-538
        <br>
        Email: office@bones.rs
    </div>
</div>