<div>
    <p align="center">O nama BONES firmi!</p>
    <br>
    <p class="about-us">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla aliquet felis, vitae tristique lectus
        Društvo sa ograničenom odgovornošću “Bones Group” osnovano je 30. Aprila 1993.
        godine pod imenom “Bones Trade”. Firma se bavila prometom robe na veliko, pretežno
        kozmetičkih proizvoda i sredstava za ličnu higijenu, a od jula 1997. godine i
        proizvodnjom zubnih pasti BONIDENT i BONIDENT FRESH.
    </p>
</div>