<table>
    <tr>
        <td>E-mail:</td>
        <td>
            <input type="text" name="email" [(ngModel)]="email">
        </td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="password">
        </td>
    </tr>
    <tr>
        <td>Ime:</td>
        <td>
            <input type="text" name="name" [(ngModel)]="name">
        </td>
    </tr>
    <tr>
        <td>Prezime:</td>
        <td>
            <input type="text" name="surname" [(ngModel)]="surname">
        </td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>
            <input type="text" name="phone" [(ngModel)]="phone">
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="createUser()">Kreiraj korisnika</button>
        </td>
    </tr>
    <tr>
        <td [colSpan]="2">
            {{message}}
        </td>
    </tr>
</table>