<div>
  <table *ngIf='order.length!==0;else emptyOrder'>
    <tr>
      <td>Slika</td>
      <td>Naziv</td>
      <td>Dimenzije</td>
      <td>Cena</td>
      <td>Količina</td>
      <td></td>
    </tr>
    <tr *ngFor="let product of order">
      <td>
        <img src='{{"assets/images/"+product.imgUrl}}' width="100px">
        <!-- {{product.imgUrl}} -->
      </td>
      <td>{{product.name}}</td>
      <td>{{product.size}}</td>
      <td>{{product.price}} RSD</td>
      <td>{{product.quantity}}</td>
      <td>
        <button mat-button color="warn" (click)="removeItem(product)">Ukloni</button>
      </td>
    </tr>
  </table>
  <ng-template #emptyOrder>
    <h3>Korpa je prazna.</h3>
  </ng-template>
</div>