<div>
  <table *ngIf='order.length!==0;else emptyOrder'>
    <tr>
      <td>Slika</td>
      <td>Naziv</td>
      <td>Dimenzije</td>
      <td>Cena</td>
      <td>Količina</td>
      <td></td>
    </tr>
    <tr *ngFor="let product of order">
      <td>
        <img src='{{"assets/images/products/"+product.imgUrl}}' width="100px">
      </td>
      <td>{{product.name}}</td>
      <td>{{product.size}}</td>
      <td>{{product.price}} RSD</td>
      <td>{{product.quantity}}</td>
      <td>
        <button mat-button color="warn" (click)="removeItem(product)">Ukloni</button>
      </td>
    </tr>
    <tr align="center">
      <td [colSpan]="6">
        <hr>
      </td>
    </tr>
    <tr align="right">
      <td [colSpan]="6">
        Ukupno: {{total}} RSD
      </td>
    </tr>
    <tr align="center">
      <td [colSpan]="6">
        <button mat-raised-button color="primary" (click)="confirmOrder()">Potvrdi narudžbinu</button>
      </td>
    </tr>
    <tr align="center">
      <td [colSpan]="6">
        <button mat-stroked-button color="accent" (click)="editOrder()">Izmeni narudžbinu</button>
      </td>
    </tr>
  </table>
  <ng-template #emptyOrder>
    <h3>Korpa je prazna.</h3>
  </ng-template>
</div>