<div>
  <h1>Vaša korpa: </h1>
  <table *ngIf='cartCount!==0;else emptyOrder'>
    <tr align="left">
      <th>Količina</th>
      <th>Slika</th>
      <th>Naziv</th>
      <th>Pakovanje</th>
      <th>Cena artikla</th>
      <th>Zbirna cena</th>
    </tr>
    <tr *ngFor="let product of productsForOrder">
      <td>{{product.quantity}}x</td>
      <td>
        <img src='{{"assets/images/products/"+product.imgUrl}}' width="100px">
      </td>
      <td>{{product.name}}</td>
      <td>{{product.size}}</td>
      <td>{{product.price}} RSD</td>
      <td>{{product.baseSum}} RSD</td>
      <td>
        <button mat-button color="warn" (click)="removeItem(product)">Ukloni</button>
      </td>
    </tr>
    <tr align="center">
      <td [colSpan]="6">
        <hr>
      </td>
    </tr>
    <tr align="right">
      <td [colSpan]="6">
        Ukupno: {{totalPrice}} RSD
      </td>
    </tr>
    <tr align="center">
      <td [colSpan]="6">
        <button mat-raised-button color="primary" (click)="confirmOrder()">Kreiraj narudžbinu</button>
      </td>
    </tr>
    <tr align="center">
      <td [colSpan]="6">
        <button mat-stroked-button color="accent" (click)="editOrder()">Izmeni narudžbinu</button>
      </td>
    </tr>
  </table>
  <ng-template #emptyOrder>
    <h1>Korpa je prazna.</h1>
    <a mat-raised-button color="primary" href="products-list">Povratak na kupovinu</a>
  </ng-template>
</div>