<div>
  <button mat-stroked-button color="accent" (click)="addFilter(null)">Svi proizvodi</button>
  <button mat-stroked-button color="accent" *ngFor="let category of allCategories" (click)="addFilter(category.id)">
    {{category.name}}
  </button>
</div>
<br>
<div>
  <table>
    <tr>
      <td>Slika</td>
      <td>Naziv</td>
      <td>Dimenzije</td>
      <td>Cena</td>
      <td>Količina</td>
      <td></td>
    </tr>
    <ng-container *ngFor="let product of allProducts">
      <tr *ngIf="product.categoryId == filter || filter == null">
        <td>
          <img src='{{"assets/images/products/"+product.imgUrl}}' width="100px">
          <!-- {{product.imgUrl}} -->
        </td>
        <td>{{product.name}}</td>
        <td>{{product.size}}</td>
        <td>{{product.price}} RSD</td>
        <td>
          <input type="number" name="quantity" [(ngModel)]="product.quantity" min="1">
        </td>
        <td>
          <button mat-raised-button color="accent" (click)="addToCart(product)">Dodaj u korpu</button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>