<table mat-table [dataSource]="allOrders" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Br. porudžbine </th>
        <td mat-cell class="hoverborder" *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef> Kupac </th>
        <td mat-cell class="hoverborder" *matCellDef="let order"> {{order.customer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Adresa </th>
        <td mat-cell class="hoverborder" *matCellDef="let order">
            {{order.customerAddress.address}},
            {{order.customerAddress.zipCode}} {{order.customerAddress.city}},
            {{order.customerAddress.country}}
        </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Iznos </th>
        <td mat-cell class="hoverborder" *matCellDef="let order"> {{order.totalPrice}} RSD</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status porudžbine </th>
        <td mat-cell class="hoverborder" *matCellDef="let order"> {{order.statusString}} </td>
    </ng-container>

    <ng-container matColumnDef="isPaidString">
        <th mat-header-cell *matHeaderCellDef> Status plaćanja </th>
        <td mat-cell class="hoverborder" *matCellDef="let order"> {{order.isPaidString}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell class="hoverborder" *matCellDef="let order"> {{order.createdAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="hoverborder" (click)="openOrder(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>