<!-- <div>
    <table>
        <tr>
            <td>Kupac</td>
            <td>Adresa</td>
            <td>Iznos</td>
            <td>Status</td>
            <td>Status plaćanja</td>
            <td>Datum</td>
        </tr>
        <tr *ngFor="let order of allOrders">
            <td>{{order.customer.name}}</td>
            <td>
                {{order.customerAddress.address}}, {{order.customerAddress.zipCode}} {{order.customerAddress.city}},
                {{order.customerAddress.country}}
            </td>
            <td>{{order.totalPrice}} RSD</td>
            <td>{{order.status}}</td>
            <td>{{order.isPaid}}</td>
            <td>{{order.createdAt}}</td>
        </tr>
    </table>
</div> -->
<table mat-table [dataSource]="allOrders" class="mat-elevation-z8">
    <ng-container matColumnDef="customer">
        <th th mat-header-cell *matHeaderCellDef> Kupac </th>
        <td td mat-cell *matCellDef="let order"> {{order.customer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Adresa </th>
        <td mat-cell *matCellDef="let order">
            {{order.customerAddress.address}},
            {{order.customerAddress.zipCode}} {{order.customerAddress.city}},
            {{order.customerAddress.country}}
        </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Iznos </th>
        <td mat-cell *matCellDef="let order"> {{order.totalPrice}} RSD</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let order"> {{order.status}} </td>
    </ng-container>

    <ng-container matColumnDef="isPaid">
        <th mat-header-cell *matHeaderCellDef> Status plaćanja </th>
        <td mat-cell *matCellDef="let order"> {{order.isPaid}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let order"> {{order.createdAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openOrder(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>