/* You can add global styles to this file, and also import other style files */
/* body {
    display: flex;
    justify-content: center;
} */
/* 
.header {
    height: 100px;
    width: 100%;
    border: 3px solid #147d43;
    background-color: #d4fce6;
    position:fixed;
    top:0;
} */
/* 
.header-content {
    text-align: center;    
} */

/* .main-content {
    display: flex;
    justify-content: center;
    padding-top:150px
} */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.navbar {
    justify-content: space-between;
}

/* span {
    padding-left: 1rem;
    padding-right: 1rem;
} */