body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table.wide {
    width: 100%;
}

table.order {
    padding-left: 10px;
    padding-right: 10px;
}

.make-red {
    color: red;
    font-weight: bold;
}

.main-content {
    margin-top: 100px;
    padding-bottom: 20px;
}

.guest-content {
    display: flex;
    justify-content: center;
}

.about-us {
    padding: 1rem;
}

.delivery-addresses {
    width: 726px;
    border: 1px solid;
    border-color: lightgray;
}

.warning-message {
    color: red;
    font-weight: bold;
}

input.width {
    width: 80px;
}

.home {
    margin-left: 10%;
    width: 80%;
    background-color: beige;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-color: burlywood;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.about-card {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

.about-content {
    margin-left: 15px;
    margin-right: 15px;
}

.contact-card {
    margin-left: 40%;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-toolbar {
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}

mat-drawer {
    width: 200px;
    margin-top: 100px;
}

mat-drawer-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

mat-radio-button {
    width: 200px;
    border: 1px solid;
    border-color: black;
    padding: 15px;
    margin: 5px;
}

tr.hoverborder td.hoverborder {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

tr.hoverborder:hover td.hoverborder {
    border-color: currentColor;
}