html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
    padding-top: 100px
}

.guest-content {
    display: flex;
    justify-content: center;
}

.about-us {
    padding: 1rem;
}

.delivery-addresses {
    width: 726px;
    border: 1px solid;
    border-color: lightgray;
}

mat-toolbar {
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}

mat-drawer {
    width: 200px;
}

mat-drawer-content {
    padding-left: 1rem;
}

mat-radio-button {
    width: 200px;
    border: 1px solid;
    border-color: black;
    padding: 15px;
    margin: 5px;
}