<div *ngIf="order">
    <h1>Informacije o narudžbini:</h1>
    <p><b>Status porudžbine:</b> {{order.statusString}}</p>
    <p><b>Status plaćanja:</b> {{order.isPaidString}}</p>
    <h2>Kupac:</h2>
    <p><b>Naziv:</b> {{order.customer.name}}</p>
    <p><b>PIB:</b> {{order.customer.pib}}</p>
    <p><b>Email:</b> {{order.customer.email}}</p>
    <p><b>Rank:</b> {{order.customer.rankString}}</p>
    <br>
    <h2>Adresa za dostavu:</h2>
    {{order.customerAddress.address}}, {{order.customerAddress.zipCode}} {{order.customerAddress.city}},
    {{order.customerAddress.country}}
    <br>
    <br>
    <h2>Proizvodi:</h2>
    <table>
        <tr align="left">
            <th>Količina</th>
            <th>Slika</th>
            <th>Naziv</th>
            <th>Pakovanje</th>
            <th>Cena artikla</th>
            <th>Zbirna cena</th>
        <tr *ngFor="let product of productsForOrder">
            <td>{{product.quantity}}x</td>
            <td>
                <img src='{{"assets/images/products/"+product.imgUrl}}' width="100px">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.size}}</td>
            <td>{{product.price}} RSD</td>
            <td>{{product.totalPrice}} RSD</td>
        </tr>
        <tr align="center">
            <td [colSpan]="6">
                <hr>
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="6">
                Ukupan iznos bez PDV: {{order.baseAmount}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="6">
                PDV : {{order.pdvAmount}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="6">
                Ukupno sa PDV : {{order.totalAmountWithPdv}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="6">
                Dostava: {{order.shippingAmountWithPdv}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="6">
                <b>Ukupno za plaćanje: {{order.totalPrice}} RSD </b>
            </td>
        </tr>
        <tr align="center" *ngIf="displayApproveButton">
            <td [colSpan]="6">
                <button mat-raised-button color="primary" (click)="approveOrder()">Potvrdi narudžbinu</button>
            </td>
        </tr>
        <tr align="center" *ngIf="displayCancelButton">
            <td [colSpan]="6">
                <button mat-stroked-button color="accent" (click)="cancelOrder()">Otkaži narudžbinu</button>
            </td>
        </tr>
    </table>
</div>