<div *ngIf="order">
    <h1>Informacije o narudžbini:</h1>
    <p><b>Status porudžbine:</b> {{order.statusString}}</p>
    <p><b>Status plaćanja:</b> {{order.isPaidString}}</p>
    <h2>Kupac:</h2>
    <p><b>Naziv:</b> {{order.customer.name}}</p>
    <p><b>PIB:</b> {{order.customer.pib}}</p>
    <p><b>Email:</b> {{order.customer.email}}</p>
    <p><b>Rank:</b> {{order.customer.rankString}}</p>
    <br>
    <h2>Adresa za dostavu:</h2>
    {{order.customerAddress.address}}, {{order.customerAddress.zipCode}} {{order.customerAddress.city}},
    {{order.customerAddress.country}}
    <br>
    <br>
    <h2>Proizvodi:</h2>
    <table class="order">
        <tr align="left">
        <tr align="left">
            <th>Slika</th>
            <th>Barkod</th>
            <th>Količina</th>
            <th>Nedostaje komada</th>
            <th>Naziv</th>
            <th>Pakovanje</th>
            <th>Cena artikla</th>
            <th>Zbirna cena</th>
            <th>Rabat</th>
            <th>Popust</th>
            <th>Ukupno bez PDV</th>
            <th>PDV</th>
            <th>Ukupno</th>
        <tr *ngFor="let product of productsForOrder" [class.make-red]='product.missingQuantity!=0'>
            <td>
                <img src='{{"assets/images/products/"+product.imgUrl}}' width="100px">
            </td>
            <td>{{product.barcode}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.missingQuantity}}</td>
            <td>{{product.name}}</td>
            <td>{{product.size}}</td>
            <td>{{product.price | number : '1.2-2'}} RSD</td>
            <td>{{product.baseSum | number : '1.2-2'}} RSD</td>
            <td>-{{product.permanentDiscount | number : '1.2-2'}} RSD</td>
            <td>-{{product.productDiscount | number : '1.2-2'}} RSD</td>
            <td>{{product.totalWithoutPdv | number : '1.2-2'}} RSD</td>
            <td>{{product.pdvAmount | number : '1.2-2'}} RSD</td>
            <td>{{product.totalPrice | number : '1.2-2'}} RSD</td>
        </tr>
        <tr align="center">
            <td [colSpan]="13">
                <hr>
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="13">
                Ukupan iznos bez PDV: {{order.baseAmount | number : '1.2-2'}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="13">
                PDV: {{order.pdvAmount | number : '1.2-2'}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="13">
                Ukupno sa PDV: {{order.totalAmountWithPdv | number : '1.2-2'}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="13">
                Dostava: {{order.shippingAmountWithPdv | number : '1.2-2'}} RSD
            </td>
        </tr>
        <tr align="right">
            <td [colSpan]="13">
                <b>Ukupno za plaćanje: {{order.totalPrice | number : '1.2-2'}} RSD </b>
            </td>
        </tr>
        <tr align="center" *ngIf="displayApproveButton">
            <td [colSpan]="13">
                <button mat-raised-button color="primary" (click)="approveOrder()">Odobri narudžbinu</button>
            </td>
        </tr>
        <tr align="center" *ngIf="displayCompleteButton">
            <td [colSpan]="13">
                <button mat-raised-button color="primary" (click)="completeOrder()">Potvrdi narudžbinu za
                    slanje</button>
            </td>
        </tr>
        <tr align="center" *ngIf="displayCancelButton">
            <td [colSpan]="13">
                <button mat-stroked-button color="accent" (click)="cancelOrder()">Otkaži narudžbinu</button>
            </td>
        </tr>
    </table>
</div>