<h3>Prijava na sistem za zaposlene u BONES group:</h3>
<table>
    <tr>
        <td>Korisničko ime: </td>
        <td>
            <input #nameRef type="text" name="username" [(ngModel)]="username">
        </td>
    </tr>
    <tr>
        <td>Lozinka: </td>
        <td>
            <input type="password" name="password" [(ngModel)]="password">
        </td>
    </tr>
    <tr>
        <td>
            <button mat-raised-button color="primary" (click)="login()">Prijavite se</button>
        </td>
    </tr>
    <tr *ngIf="message!=null">
        <td>
            {{message}}
        </td>
    </tr>
</table>