<table>
    <tr>
        <td>Poslovni naziv:</td>
        <td>
            <input type="text" name="name" [(ngModel)]="name">
        </td>
    </tr>
    <tr>
        <td>PIB:</td>
        <td>
            <input type="text" name="pib" [(ngModel)]="pib">
        </td>
    </tr>
    <tr>
        <td>E-mejl:</td>
        <td>
            <input type="text" name="email" [(ngModel)]="email">
        </td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>
            <input type="text" name="phone" [(ngModel)]="phone">
        </td>
    </tr>
    <tr>
        <td>Adresa:</td>
        <td>
            <input type="text" name="address" [(ngModel)]="address">
        </td>
    </tr>
    <tr>
        <td>Zemlja:</td>
        <td>
            <input type="text" name="country" [(ngModel)]="country">
        </td>
    </tr>
    <tr>
        <td>Grad:</td>
        <td>
            <input type="text" name="city" [(ngModel)]="city">
        </td>
    </tr>
    <tr>
        <td>Poštanski broj:</td>
        <td>
            <input type="text" name="postcode" [(ngModel)]="postcode">
        </td>
    </tr>
    <tr>
        <td>
            <br>
            <button mat-raised-button color="primary" (click)="createCustomer()">Kreiraj kupca</button>
        </td>
    </tr>
    <tr>
        <td [colSpan]="2">
            {{message}}
        </td>
    </tr>
</table>