<div *ngIf="customer">
    <h2>Kupac:</h2>
    <p><b>Naziv:</b> {{customer.name}}</p>
    <p><b>PIB:</b> {{customer.pib}}</p>
    <p><b>Email:</b> {{customer.email}}</p>
    <p><b>Rank:</b> {{customer.rankString}}</p>
    <p *ngIf="customer.permanentDiscount!=null"><b>Rabat:</b> {{customer.permanentDiscount}} %</p>
    <p *ngIf="customer.permanentDiscount==null"><button mat-raised-button color="primary" (click)="addPermanentDiscount()">Dodaj rabat za korisnika</button></p>
    <div *ngIf="customer.addresses.length>0">
        <br>
        <h2>Adrese:</h2>
        <div *ngFor='let addr of customer.addresses'>
            {{addr.address}}, {{addr.zipCode}} {{addr.city}}, {{addr.country}}
        </div>
    </div>
    <div *ngIf="customer.productDiscounts.length>0">
        <br>
        <h2>Dodatne akcije na proizvode:</h2>
        <table>
            <tr>
                <th align="left">Barkod</th>
                <th align="left">Naziv</th>
                <th align="left">Dimenzije</th>
                <th align="left">Procenat</th>
            </tr>
            <tr *ngFor="let pd of customer.productDiscounts">
                <td>{{pd.product.barcode}}</td>
                <td>{{pd.product.name}}</td>
                <td>{{pd.product.size}}</td>
                <td>{{pd.percentage}} %</td>
            </tr>
        </table>
    </div>
</div>